* {
    box-sizing: border-box;
    margin: 0px;
}

html,
body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url('.././img/landscape.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.sideBar {
    display: flex;
    width: 20vw;
    height: 100%;
    flex-direction: column;
    margin-right: 2vw;
    background-color: rgba(0, 0, 0, 0.6);
}

.cardCreator {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardCreator h1,
label {
    margin: 5px;
    text-align: center;
    color: whitesmoke;
}

.cardCreator input,
textarea {
    width: 80%;
    height: 10%;
    margin: 5%;
    border: none;
    border-radius: 10px;
}

.cardCreator textarea {
    height: 40%;
}

#postar:active {
    transform: scale(0.95) translateY(3px);
}

#conteiner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.6);
    color: whitesmoke;
    width: 35vw;
    height: 40vh;
    border-radius: 20px;
    margin-top: 2vw;
    margin-bottom: auto;
}

.card p {
    width: 90%;
    overflow-wrap: break-word;
    overflow-y: scroll;
    height: 50%;
    margin-top: 10px;
}

.card img {
    width: 100%;
    height: 30%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

@media (max-width: 500px) {

    body {
        display: flex;
        flex-direction: column;
    }

    .cardCreator input {
        margin: 10px 20px;
    }

    .sideBar {
        height: 760px;
        width: 100vw;
    }

    .sideBar h1 {
        padding: 0 20px;
    }

    form {
        height: 200px;
    }

    #conteiner {
        display: flex;
        margin: 5px;
        flex-wrap: wrap;
    }

    .card {
        height: fit-content;
    }

}